<!DOCTYPE HTML>

<html lang="en">

<head>
    <link rel="stylesheet" href="css/swipe.css">
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <p>Settings takes you to a page where you can change<br>
    Employer or Employee<br>Work Type<br>Duration low value<br>
    Duration high value (so like low months to high months)
    <br><br><br>https://getbootstrap.com/docs/4.0/components/dropdowns/
    <br><br><br>
    <br><br><br> Settings is linked to when you create a new account or click settings button in swipe.html.</p>
    <button type="button" class="btn btn-outline-success" onclick="location.href = 'swipe.html';">Go Back to Jobs</button>
    <button type="button" class="btn btn-outline-success" onclick="location.href = 'index.html';">Log out</button>
</head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</script>
</html>
