.carousel {
    text-align: center;
    width: 80%;
    overflow: hidden;
    float: right;
  }

  .carousel .carousel-inner {
    height: 80%;
    text-align: center;
    float: right;

  }

  .left-text {
    float: left;
  }

  body {
    background-color: beige;
    padding-bottom: 25px;
  }

  .btn {
    background-color: #16d67d;
    width: 100px;
    margin: 10px;

  }

  html {
    position: relative;
    min-height: 100%;
}
